/*
    this style.css file adds specs to the index.html (Code Quiz)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*  
  - sets the overall background on web page
  - link to background photo - pexels-jessica-lewis-583848.jpg 
*/

body {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bolder;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7bbbe;
  background-size: cover;
}

header {
  font-size: x-large;
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(210, 29%, 97%);
}

/*  
  - sets the cards sytle (color, size, border shadow, etc.)
*/

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0 0 8px 2px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/*
  - sets the form within the card for password size and characters checkbox
*/

.form-input {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

/*
  - aligns the h2 header to the center in the card
*/

.h2-center {
  text-align: center;
}

.h4-center {
  text-align: center;
}

/* 
  - sets the buttons styles (color, size, etc.)
*/

.btn {
  border: none;
  background-color: rgb(8, 86, 175);
  border-radius: 25px;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  width: 17rem;
}

.btn-layout {
  display: grid;
  grid-template-rows: auto;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.start-next-end-btn{
display: grid;
grid-template-columns: repeat(3);

}
