/*
    this style.css file adds specs to the index.html (Code Quiz)
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  font-size: 5rem;
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  color: black;
}

.h1-center {
  text-align: center;
  font-size: xx-large;
  color: #111111;
  padding: 10px;
}

.div-rules {
  text-align: center;
  font-size: 2rem;
  color: #111111;
  padding: 10px;
}

body {
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
}

.column {
  align-items: center;
}

/*  
  - sets the cards sytle (color, size, border shadow, etc.)
*/

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px;
  font-size: 18px;
  max-width: 800px;
  max-width: 80%;
  padding: 15px;
}

.btn {
  border: black;
  background-color: gray;
  border-radius: 25px;
  border-color: black;
  box-shadow: 5px 5px 5px 5px;
  color: white;
  font-size: 22px;
  line-height: 22px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  width: 17rem;
}

button {
  border: black;
  background-color: white;
  border-radius: 25px;
  border-color: black;
  box-shadow: 5px 5px 5px 5px;
  color: black;
  font-size: 22px;
  line-height: 22px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  width: 17rem;
}

.btn-layout {
  display: flex;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.start-next-end-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.score {
  border: black;
  background-color: white;
  border-radius: 25px;
  border-color: black;
  box-shadow: 5px 5px 5px 5px;
  color: black;
  font-size: 22px;
  line-height: 22px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  width: 5rem;
}

.upperRight {
  float: right;
}
